<div class="login-container">
  <h2>Connexion</h2>
  <form (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="credentials.username" name="username" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input matInput [(ngModel)]="credentials.password" name="password" type="password" required>
    </mat-form-field>

    <button mat-button color="primary" type="submit">Se connecter</button>
    <p *ngIf="error" class="error">{{ error }}</p>
  </form>
</div>
